* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #073e40;
  }
  .wrapper {
    background-color: #ffffff;
    width: 90%;
    max-width: 400px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0.5em;
    padding: 1.5em;
    border-radius: 0.8em;
  }
  img {
    display: block;
    width: 90%;
    margin: auto;
  }
  .btns-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em 0 1.5em 0;
  }
  input,
  label,
  button {
    border: none;
    outline: none;
  }
  input[type="file"] {
    display: none;
  }
  label,
  button {
    display: block;
    font-size: 1.1em;
    background-color: #ee8802;
    color: #ffffff;
    text-align: center;
    padding: 0.8em 0;
    border-radius: 0.3em;
    cursor: pointer;
  }
  #result {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  #result div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #result input {
    background-color: transparent;
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
    color: #313b4c;
    border-bottom: 0.1em solid #021637;
  }
  #result button {
    position: absolute;
    right: 0.6em;
    background-color: transparent;
    color: #7c8696;
  }
  #picked-color-ref {
    grid-column: 2;
    grid-row: 1 / 3;
    border: 0.6em solid #d9e8ff;
    border-radius: 0.5em;
  }
  #custom-alert {
    transform: scale(0);
    transition: 0.5s;
    transform-origin: center;
    background-color: #d9e8ff;
    color: #025bee;
    text-align: center;
    padding: 0.5em;
    margin-top: 1.5em;
  }
  .hide {
    display: none;
  }
  #error {
    color: #ff725a;
    text-align: center;
  }